* {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
#sidebar {
  min-height: 100%;
  min-height: 100vh;
  background-color: #f8f8fc;
}
#sidebar img {
  max-height: 48px;
}
#sidebar .folder a {
  cursor: pointer;
}
#sidebar .closed {
  display: none;
}
#sidebar .opened {
  display: flex;
}
#sidebarToggle {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  left: 22px;
  top: 22px;
}
#sidebarToggle.closer {
  left: auto;
  right: 22px;
  z-index: 12;
}
#sidebarToggle.closer .close {
  font-size: 2rem;
  opacity: 1;
}
@media(max-width:991px){
  #sidebar {
    position: fixed;
    z-index: 11;
  }
}
#content {
  background-color: #ffffff;
}
#footer {
  border-top: 2px solid #f8f8fc;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1;
}
body {
  font-size: 16px;
}
code {
  font-size: 100%;
}
#content > div > h1 {
  margin-top: 0;
}
#content h1, #content h2, #content h3, #content h4, #content h5 {
  margin-top: 40px;
  margin-bottom: 20px;
}
#content p {
  margin-bottom: 20px;
}
#content h1 + h5,
#content h5 + h5 {
  margin-top: 0;
  margin-bottom: 0;
}
